.container{
    background-color: var(--colorW1);
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    width: 95%;
    margin: 20px auto;
    border-radius: 15px;

}

.imgContainer{    
    width: 75%;
    padding: 5px 0;
}


.superior{    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img{
    width: 60px;
    height: 80px;
    border-radius: 10px;
    background-color: #fff;    
}

.infoContainer{    
    color: white;
    text-align: center; 
    padding: 10px;     
}

.titulo{
    font-size: 20px;
}

.cant{
    font-size: 14px;    
}

.descripcion{
    font-size: 15;
    text-align: justify;
}

.titulo, .cant, .descripcion{
    margin-top: 5px;    
}

.titulo{
    font-size: 20px;
}

.cant{
    font-size: 16px;
}

.descripcion{
    font-size: 15px;
}

.izquierda{    
    color: white;    
    margin-left: 24px;
}