@import '../../../index.css';

.informationContainer{
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    background-color: var(--colorW1);
    width: 95%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.derecho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgContainer{
    margin: 10px;
}

.img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.information{        
    text-align: justify;    
    color: white;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.titulo{
    color: white;
    text-align: center;
    margin-left: 10px;
}

.p{
    margin-top: 10px;
    padding: 0px 20px;
    font-size: 22px;
    line-height: 30px;
}