.informationContainer{    
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    padding: 15px 0;      
}

.img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 10px 5px;
}

.imgContainer{
    margin: 0 10px;
}

.h3_nombre{
    font-size: 25px;
    color: white;
}

.h3_usuario{
    color: rgba(255, 255, 255, .8);
    font-size: 12px;
    margin-top: 3px;
}
