.containerMain>*{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPublicar{
    width: 40%;
    padding: 10px;
    font-size: 15px;
    background-color: var(--colorW1);
    border-radius: 50px;
    border: none;
    color: white;    
    margin-right: calc(10%);
    margin-bottom: 20px;
}

.btnContainer{
    justify-content: end;
}


