.containerMain>*{
    display: flex;
    justify-content: center;
    align-items: center;        
}

.btnPublicar{
    background-color: #000;
    width: 40%;
    padding: 10px;
    font-size: 15px;
    background-color: var(--colorW1);
    border-radius: 50px;
    border: none;
    color: white;    
    margin-right: calc(10%);
    margin-bottom: 20px;
}

.btnContainer{
    display: flex;
    justify-content: end;
    width: 100%;
}

.containerA{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.containerA > *{
    margin: 0px auto;
}