.container, .container>*{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(--colorW1);
}

.titulo{
    color: white;
    margin: 15px 0;
}

.form{
    width: 100%;
}

.input{
    width: 70%;
    height: 30px;
    margin: 10px 0;    
    padding: 5px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: white;
    outline: none;
}

.input::placeholder{
    color: white;
}

.btn{
    width: 50%;
    height: 32px;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: var(--colorW2);
    color: white;
    font-size: 15px;
    margin: 15px 0;
}

.error{
    border-bottom: 1px solid red;
}