@import '../../../index.css';

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: var(--colorW1);
    width: 100%;
    color: white;
    padding: 10px;
    margin: 20px 0;
    border-radius: 20px;
}

.img{
    width: 60px;
    height: 80px;        
    object-fit: cover;
}

.h2{
    font-size: 15px;
    margin: 3px 10px;    
}