@import '../../index.css';


.userConteiner, .follow, .generos{
    width: 95%;
    margin: 0 auto;
}


.userConteiner{    
    background-color: var(--colorW1);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;    
}

.btnFollow{
    background-color: var(--colorW3);
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    color: white;
    margin: 0px 20px;
    font-size: 16px;
    border: 1px solid #fff;
}

.follow{    
    margin: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


.contenidoContainer{    
    flex-direction: column;        
    margin: 20px 0;
}

.contenidoContainer, .contenidoContainer>ul{    
    display: flex;    
    align-items: center;
    justify-content: center;
    list-style: none;        
}

.ulContenido{
    background-color: var(--colorW1);    
    width: 95%;
    border-radius: 10px;
}

.ulContenido>li{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 20px;    
}

.ulContenido>li::selection{
    border: 1px solid #000;
}

.listasContiner{
    width: 95%;    
}

.urls{
    margin: 0px 10px;
    list-style: none;
    text-decoration: none;
}

.select{
    background-color: var(--colorW3);
    border-radius: 10px;
}