@import '../../index.css';

.bookContainer, .bookContainer>*, .imgContainer{
    display: flex;    
    justify-content: center;
    align-items: center;
}

.bookContainer{
    margin: 10px auto;
    background-color: var(--colorW1);
    width: 95%;
    border-radius: 20px;
    flex-direction: row;

    padding: 12px 0;
}

.optionInformation{
    font-size: 16px;
    color: white;
    text-align: center;    
    padding: 4px;
}

.destacar{
    font-size: 18px;
    text-transform: uppercase;
}

.derecho{        
    width: 100%;
}

.img{
    width: 80px;
    margin: 10px 0px;
}

.izquierdo{        
    border-radius: 20px;
    margin: 10px 10px;
    flex-direction: column;
    text-align: center;
}

.derecho{
    flex-direction: column;    
}