.infoContainer{
    margin: 10px auto;
    border: 1px solid var(--colorW1);
    width: 95%;
    border-radius: 10px;
    padding: 10px;
    text-align: center
}

.img{
    width: 60px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, .5);
    text-align: center;
}

.containerInfo{    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.containerInfo > section { 
    margin: 0px 10px;
    text-align: start;
}

.descripcion{
    margin: 12px 0;
}

.containerBTNAgregar{
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn{
    color: white;
    background-color: var(--colorW1);
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-right: 16px;
}

.publicationContainer{
    background-color: var(--colorW1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    border-radius: 10px;
    margin: 5px auto;

}

.tx{
    width: 80%;
    height: 120px;
    margin: 10px 0;
    padding: 10px;    
    border-radius: 10px;
    border: none;
    outline: none;
    color: black;
}

.btnPublica{
    margin: 5px 0;
    padding: 10px 15px;
    border-radius: 10px;
    width: 100px;
    border: none;
    background-color: white;
    color: var(--colorW2);
}

.containerPublication{    
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}