@import '../../../../index.css';

.ul{            
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px; 
    list-style: none;
    width: max-content;
    margin: 20px auto;
    padding: 0;     

    align-items: center;
    justify-content: center;    
}

.container{ 
    background-color: var(--colorW2);   
    width: 100%;  
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.input {
    display: none;
}

.label {
    display: inline-block;
    width: 60px;    
    height: 60px;    
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.input:checked + .label {
    border: 2px solid #000;    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.btn{
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #fff;
    color: white;
    background-color: var(--colorW1);
    font-size: 15px;
    margin: 20px 0;
}

.tituloImage{
    font-size: 12px;
    text-align: center;
    color: white;
    margin: 5px 0;
}

.p{
    color: white;
    font-size: 12px;
    text-decoration: underline;
}