@import '../../index.css';

.informationContainer{
    margin-top: 20px;
}

.informationContainer > h2{
    margin-left: 15px;
}

.redesContainer, .temaContainer{    
    margin-top: 20px;
    padding: 0 20px;
}

.btnsPlus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnPlus{
    background-color: var(--colorW1);
    border: none;
    border-radius: 50px;    
    color: white;
    font-size: 20px;
    width: 30%;
    height: 50px;
    margin: 15px 0px;
    transition: all 1s ease;
}

.btnPlus:hover{    
    width: 40%;
}

.optionTema{
    margin: 20px auto;
    width: 70%;    
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}

.form{    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input{
    border: none;
    border-bottom: 1px solid #000;
    margin: 15px 0;
    width: 90%;
    padding: 8px;
    font-size: 16px;
    outline: none;
}

.contNewRed{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.ulContainer{    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 12px;
}

.renderContainer, .formContainer, .passwordContainer{    
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer{
    flex-direction: column;
    width: 80%;
}

.passwordContainer{
    flex-direction: row;
    width: 97%;    
}

.btns, .btnLogOut{
    padding: 10px 20px;
    background-color: var(--colorW3);
    color: white;    
    margin: 10px 10px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    transition: all 10ms ease-in;
}

.btnLogOut{
    background-color: rgba(255, 0, 0, .7);
}

.btnUpdate{
    width: 300px;
}

.optionRedesContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.urls{
    text-decoration: none;
    color: inherit;
    margin: 0 10px;
}