@import '../../../index.css';

.autorsContainer {
    padding: 10px;
    background-color: var(--colorW3);
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}

.title {
    font-size: 40px;
    color: white;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel{
    margin: 10px 0;
}