.container {
    position: relative;
    outline: none;
    border-radius: 50px;    
}

.btnResena {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: var(--colorW3);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    cursor: none;
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.img {
    width: 30px;
    height: 30px;
    border-radius: 50px;    
}

/* User Option */

.userContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: var(--colorW1);
    width: 95%;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 6px 6px rgba(0, 0, 0, .6);
}

.imgUser{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 10px;
}

.containerInfor{
    color: white;
    font-size: 16px;
}

.texto{
    margin: 5px 0;    
}

.usuario{
    font-size: 20px;
    color: rgba(255, 255, 255, .7);
}

.texto, .usuario{
    margin-right: 12px;
}


@media only screen and (min-width: 1025px){ 


}